header {
    background: linear-gradient(to bottom, #1a1a1a, #333);
    transition: background 0.5s ease; 
    text-align: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    h1 {
        font-size: 3rem;
    }
}
