nav {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    align-items: center;
    background-color: #333;
}

ul {
    margin-bottom: 0;
}

.navbar {
    text-align: center;
    align-items: center;
    transition: all 0.5s;
}

.nav-menu li {
    list-style: none;
    padding: 0 1rem;
}

.nav-menu {
    display: flex;
}

a.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.5s;
}

.hamburger {
    display: none;
}

.bar,
.fa-times {
    width: 1.5rem;
    height: 3px;
    display: block;
    color: #fff;
    padding: 0;
    margin: 6px;
    transition: 0.5s;
    background-color: #fff;
}

.bar:nth-child(1) {
    width: 100%;
}

.bar:nth-child(2) {
    width: 200%;
}

.bar:nth-child(3) {
    width: 300%;
}

@media (max-width: 30rem) {
    .hamburger {
        display: block;
    }

    .active .bar:nth-child(2) {
        opacity: 0;
    }

    .active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-315deg);
        width: 300%;
    }

    .active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        width: 300%;
    }

    .nav-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 75px;
        right: -100%;
        transition: 0.5s;
        margin: 0 auto;
        background-color: #fff;
    }

    .nav-menu li {
        padding: 1rem 0;
        border-bottom: 1px solid #333;
    }

    a.nav-link {
        margin: 1rem 0;
        color: #333;
        z-index: 1;
    }

    .active {
        right: 0;
        z-index: 100;
        transition: 0.2s ease;
    }
}

@media screen and (max-width: 480px) {
    a.nav-link {
        padding: 0.75rem 0;
    }
}
